// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pg_title, #pg_subtitle {
  color: white;
}

.third_block {
  background-color: #1AB1AC;
}

#sidebar-wrapper {
  background-color: black;
}

#sidebar_title {
  color:white;
}

.sidebar-nav li a {
  color:white;
}