// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pg_title {
  color: white;
  text-shadow: 6px 6px 5px black;
}

#pg_subtitle {
  color: white;
  text-shadow: 2px 2px 1px black;
}

.third_block, .sixth_block {
  background-color: #11BDC6;
}

#sidebar-wrapper {
  background-color: #11BDC6;
}

#sidebar_title {
  color:white;
}

.sidebar-nav li a {
  color:white;
}

#lets_create {
}

// Mobile Version CSS

@media (max-width: 768px) {

}

.button_findmore {
	margin-right: 5px;
}

.button_demo {
	margin-left: 5px;
}